.counter {
  position: absolute;
                bottom: 30px;
                left: 130px
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius:30px;
    cursor: pointer
}

// .btn:focus, .btn:active:focus, .btn.active:focus {
//     outline: 0 none;
// }

// .btn-primary {
//     background: #0099cc;
//     color: #ffffff;
// }

// .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
//     background: #33a6cc;
// }

// .btn-primary:active, .btn-primary.active {
//     background: #007299;
//     box-shadow: none;
// }

